<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
        function cancelReserve(reserveId){
            var myurl = '/reserve/' + reserveId + '/cancel' ;

            var paramData = {
                reserveId:reserveId
            };
            var param = JSON.stringify(paramData);

            var token = $('meta[name="_csrf"]').attr('content');
            var header = $('meta[name="_csrf_header"]').attr('content');

            $.ajax({
                url:myurl,
                type:'POST',
                contentType:'application/json',
                data:param,
                beforeSend:function(xhr){
                    xhr.setRequestHeader(header, token) ;
                },
                dataType:'json',
                cache:false,
                success:function(result, status){
                    alert('주문이 취소 되었습니다.');
                    location.href='/reserves/' + [[${page}]] ;
                },
                error:function(xhr, status, error){
                    if(xhr.status == '401'){
                        alert('로그인 이후 이용해 주세요.');
                        location.href='/members.login' ;
                    }else{
                        alert(xhr.responseText);
                    }
                }
            });
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
        .content-mg{
            margin-left:30%;
            margin-right:30%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .card{
            width:750px;
            height:100%;
            padding:30px;
            margin-bottom:20px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>
</th:block>

<div class="content" layout:fragment="content">
  <h2>주문 내역 페이지</h2>
  <br/><br/>
  <div th:each="reserve : ${reserves.getContent()}">

    <div class="card" style="display: flex;">
      <div th:each="reserveProduct : ${reserve.reserveProductDtoList}" style="display: flex;">
        <div class="repImgDiv">
          <img th:src="${reserveProduct.imageUrl}" class="rounded repImg" th:alt="${reserveProduct.name}" style="flex-shrink: 0;">
        </div>
        <div class="align-self-center" style="margin-left: 10px;">
          <span th:text="${reserveProduct.name}" class="fs24 font-weight-bold"></span>
          <div class="fs18 font-weight-light">
            <span th:text="${#numbers.formatInteger(reserveProduct.reservePrice, 0, 'COMMA')}"></span> 원
            <span th:text="${reserveProduct.count} + '개'"></span>

            <br/><br/>
            <h4 th:text="' 주문날짜: '+ ${reserve.reserveDate} "></h4>
            <h4 th:text="' 파티룸 사용 시간: '+ ${reserve.startTime}  "></h4>
            <h4 th:text="' 파티룸 종료 시간: '+${reserve.endTime}  "></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="align-self-center">

      <th:block th:if="${reserve.reserveStatus == T(com.party.constant.ReserveStatus).ORDER}">
        <button type="button" class="btn btn-primary btn-lg" th:value="${reserve.reserveId}"
                onclick="cancelReserve(this.value)">
          주문 취소
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

        <button class="btn btn-primary btn-lg" onclick="requestPay()">결제하기</button>

        <script>
        const userCode = "imp14397622";
        IMP.init(userCode);

        function requestPay() {
          IMP.request_pay({
            pg: "html5_inicis",
            pay_method: "card",
            merchant_uid: "test_lishduca",
            name: "테스트 결제",
            amount: 100,
            buyer_tel: "010-0000-0000",
          });
        }
        </script>
        <br/><br/>
      </th:block>
      <th:block th:unless="${reserve.reserveStatus == T(com.party.constant.ReserveStatus).ORDER}">
        <button type="button" class="btn btn-online-secondary" th:value="${reserve.reserveId}">
          <h4>취소 완료</h4>
        </button>
      </th:block>
    </div>

  </div>

  <div th:with="start=${(reserves.number/maxPage)*maxPage + 1}, end=(${(reserves.totalPages == 0) ? 1 : (start + (maxPage - 1) < reserves.totalPages ? start + (maxPage - 1) : reserves.totalPages)})" >
    <ul class="pagination justify-content-center">

      <li class="page-item" th:classappend="${reserves.number eq 0}?'disabled':''">
        <a th:href="@{'/reserves/' + ${reserves.number-1}}" aria-label='Previous' class="page-link">
          <span aria-hidden='true'>Previous</span>
        </a>
      </li>

      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${reserves.number eq page-1}?'active':''">
        <a th:href="@{'/reserves/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
      </li>

      <li class="page-item" th:classappend="${reserves.number+1 ge reserves.totalPages}?'disabled':''">
        <a th:href="@{'/reserves/' + ${reserves.number+1}}" aria-label='Next' class="page-link">
          <span aria-hidden='true'>Next</span>
        </a>
      </li>
    </ul>
  </div>

</div>
</html>